body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sticky-main {
  flex: 1 0 auto;
}

#root{
  background-color: lightgray;
}

.right-border {
  border-right: 1px solid darkgrey;
  padding-right: 30px;
 
}
.post-info {
  display: flex;
  justify-content: space-between;
  color: darkgrey;
  padding: 20px;
}

.card-style {
 
}

.postImg{
  width: 100%;
  display: block;
  margin: 0 auto;
}

.post-center {
  margin-left: 100px;
}

a{
  color: black;
}
.post-bg-color{
  background-color: white;
}

.white-text{
  color: darkgrey;
}

.singleUser {

  width: 60%;
  margin: 0 auto;
}

.singleUser img {
  border-radius: 50%;
}
.postComments {
 width: 60%;
 margin: 0 auto;
  display: flex;
    justify-content: space-evenly;
   
}

.lg-chip-icon {
  display: block;
  float: left;
  background: #48D1CC;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}

.singleUser img{
  width: 300px;
}

.padding-top{
  padding-top: 5%; 
}

.input-style{
  background:white;
}
#search-magnifier{
  color:#D0F0E3;
}
.fa-exclamation-triangle{
  font-size: 20em;
}