body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sticky-main {
  flex: 1 0 auto;
}

#root {
  background-color: lightgray;
}

.right-border {
  border-right: 1px solid darkgrey;
  padding-right: 30px;
}
.post-info {
  display: flex;
  justify-content: space-between;
  color: darkgrey;
  padding: 20px;
}

.postImg {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.post-center {
  margin-left: 100px;
}

a {
  color: black;
}
.post-bg-color {
  background-color: white;
}

.white-text {
  color: darkgrey;
}

.singleUser {
  width: 60%;
  margin: 0 auto;
}

.singleUser img {
  border-radius: 50%;
  height: 300px;
}
.postComments {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.lg-chip-icon {
  display: block;
  float: left;
  background: #48d1cc;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}

.singleUser img {
  width: 300px;
}

.padding-top {
  padding-top: 5%;
}

.margin-top{
  position: absolute;
  top: 15%;
  right: 7%;
}

.input-style {
  background: white;
}
#search-magnifier {
  color: #d0f0e3;
}
.fa-exclamation-triangle {
  font-size: 20em;
}

/* .modal{
  padding: 50px;
} */


.video {
  font-size: 50px;
  color: red;
  position: absolute;
  right: 100px;
  bottom: 130px;
  position: fixed;
}
.image {
  font-size: 50px;
  color: green;
  position: absolute;
  right: 100px;
  bottom: 190px;
  position: fixed;
}

.post {
  font-size: 50px;
  color: #68b6f4;
  position: absolute;
  right: 100px;
  bottom: 250px;
  position: fixed;
}


.plus {
  position: absolute;
  right: 100px;
  bottom: 100px;
  position: fixed

}
  .upload-photo {
  font-size: 2em;
  color: lightgrey;
  width: 10%;
}
.modal-close{
  display:none;
}

.edit-buton-position{
  position: fixed;
  right: 20%;
  top: 10%;
}
.modal {
  width: 37% !important ; 
  height: 75% !important ;
}
.feed-modal{
  height: 38% !important;
}
.modal-button-space{
  margin-left: 35%;
}

.register {
  margin-left: 140px;
}

.registerinfo {
  float: left;
    margin-top: 50px;
    width: 50%;
}
.form {
  width: 50%;
  float: right;
  margin-top: 100px;
  border: 1px solid grey;
}
.register-toggle {
  cursor: pointer;
}